.order-infor-1 {
  .label-order {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
  }
  .list-item {
    .table {
      thead {
        tr {
          
        }
      }
    }
    .list-item-amount {
      padding-right: 10px;
      .amount-1 {
      }
    }
  }
}
