.customer-infor-1 {
  padding-bottom: 20px;
    .label-customer {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-bottom-style: solid;
      border-bottom-color: #d8dbe0;
      border-bottom-width: 0.5px;

      .label-1 {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 17px;
        font-weight: 500;
      }

      .label-2 {
        margin-bottom: 20px;
        display: flex;
        justify-content: left;
        span {
          i {
            padding-right: 10px;
            color: blue;
          }
          margin-right: 5px;
          &:last-child {
            // margin:auto;
            font-size: 16px;
            color: blue;
          }
        }
      }
    }
    .contact-infor {
      padding-top: 20px;
      padding-left: 10px;
      padding-bottom: 20px;
      background-color: white;
      font-size: 14px;
      p {
        margin-bottom: 1px;
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }